@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100;200&family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: gold;
}
.app{
    background-color: #14161a;
    /* background-color: blue; */
    /* color: white; */
    min-height: 100vh;
}